/*.content-box{*/
    /*padding: 10px 15px;*/
/*}*/
.content-area{
    max-width: 600px;
    margin: 0 auto;
}
.recruitment-conf-title{
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #333;
    padding: 0 0 8px 0;
    margin: 0 0 20px 0;
}
.capacity-th {
    width: 30%;
    min-width: 30%;
}

.capacity-count {
    font-weight: bold;
    font-size: 16px;
}

.content {
    background-color: #253458;;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    margin: 20px 0;
    border-radius: 4px;
}
