.content-header {
    padding-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
}

.content-body {
    padding: 40px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(102, 102, 102, .16);
}

.recruitment {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid #d3d3d3;
}

.recruitment-title {
    font-size: 20px;
    font-weight: bold;
}

.recruitment-info {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.recruitment-image-box {
    width: 110px;
    height: 110px;
    margin-right: 10px;
}

.recruitment-image {
    max-width: 110px;
    max-height: 110px;
}

.recruitment-outline {
    min-width: 200px;
    height: 120px;
}

.owner-icon {
    max-width: 30px;
    max-height: 30px;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    margin-right: 4px;
}
